/*img
{
width:100%;
}*/

.myimg
{
	opacity:.5;	
	color:green;
}

#inner
{
background-color:white;
}

.bigwrapper
{
	position:absolute;
	left:25%;
	top:25%;
	width:50%;
}
.table-responsive
{
opacity:.9;
}

.panel-heading
{
	
}

.navbar-default .navbar-brand
{
 color:#fff;
}

.navbar-default .navbar-nav>li>a
{
 color:#fff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form
{
 color:#fff;
}

.navbar-default {
    background-color: #333;
    border-color: #ffd90f;
}

.label-info
{
	background-color:#333;
}

.mypanel
{
	position:absolute;
	left:40%;
	bottom:0;
	top:30%;
	opacity:.92;
}


/*This is for the index page*/
.indexbody{
background-color:white;
}

.indexcontainer
{

background-color:white;
}

.indextitle
{
	font-size:290%;
	position:relative;
	margin-bottom:140px;
}

.indexbtn
{
	postion:absolute;
	botom:2%;
	let:33%;
	widh:10%;
}

.indexbtn2
{
	poition:absolute;
	bottm:2%;
	rigt:33%;
	with:10%;
	
}

.btn-primary
{
	background-color:black;
}

.label-default
{
	background-color:black;
	border:#2e6da4 1px solid;	
}

#indeximg
{
	border:#ffd90f 1px solid;	
}



#zsname
{
	background-image:url(../img/burst-of-green-sparks.jpg);

	background-position:cover;
	background-repeat:none;
	color:white;
	height:60px;
}

#indexjumbo
{
    background: url("../img/American History X-Cellent.jpg") no-repeat center center; 
    -webkit-background-size: 90% 100%;
    -moz-background-size: 90% 100%;
    -o-background-size: 90% 100%;
    background-size: 90% 100%;
	opacity:.8;



	
}

/* user's online page */
#avatar {
	border: 1px solid #000000;
}

table.user-list tr {
	border: 1px solid #000000;
}

table.user-list td{
	padding: 10px;
}