body {
	font-family: 'Lora', serif;
}

/* Navigation */
.navbar-default {
	background-color: #DAFFD8;
	border-color: #e7e7e7;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #FFF;
	background-color: #25D434;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: transparent; 
}

.user-row {
		margin-bottom: 14px;
}

.user-row:last-child {
		margin-bottom: 0;
}

/* Profile */
.table-user-information > tbody > tr {
	border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
	border-top: 0;
}

.table-user-information > tbody > tr > td {
	border-top: 0;
}
.top-margin {
	margin-top:20px;
}

/*theme changes*/
.panel-title
{
	color:white;
}

.panel-info>.panel-heading
{
	background-color:black;
	border-color:#ffd90f;
	
}

.panel-info
{
	border-color:black;
}

/*Mitesh css
-------------------------------------------------------------*/

#myForm_errorloc {
			margin: 20px 10px 2px 10px;
			padding: 8px 35px 8px 30px;
			padding-left:80px;
			color: #B94A48;
			/*font-weight: bold;*/
		}

.registerbody {
	background-image: url(../img/maxresdefault.jpg);
	background-position:cover;
	background-repeat:none;
}

div {
	border-radius: 5px;
}
/* for all input fields, there will be padding of 15px whenever user starts typing in the form  */
input  {
	padding-left:10px;
}

#header {
	height: 100px;
	background-color: rgba(0, 0, 0, 0.95);
	background-attachment: fixed;
	margin-bottom:10px;
	color:white;
	padding-left:75px;
	padding-top: 18px;
	padding-right:75px;
	text-align: right;
	
	text-decoration: underline;
}


.p_signUp_attributes {
	font-family: Tahoma, san-serif;
	font-size:1.5em;
	margin-left:10px;
	}
	
.right {
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
padding-top:.1%;
padding-bottom:.1px;
	width: 650px;
	background-color: #E0E4CC;
	

	background-attachment:fixed;
	
}
#myForm {
	margin: 50px 50px 50px 50px;
}

.border_form {
	border:1px solid #FFFFFF;
	margin:25px;
}
::-webkit-input-placeholder { 
	/*padding-left:10px;*/
	font-family:Tahoma, san-serif;
	font-size: 14px;
}

::-moz-placeholder {  /* Firefox 19+ */
    /*padding-left:10px;*/
	font-family:Tahoma, san-serif;
	font-size: 14px; 
}
	
label
{
	font-weight:100;
}